html,
body,
#root {

    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    background:  #383F48;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    overflow: hidden;
}
html,
body,
div,
a,
i,
select,
option,
optgroup,
hr,
br {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
a {
    text-decoration: none !important;
 color: inherit;
}
::-webkit-scrollbar {
    width: 0;
}
button
{

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    /* or 169% */

    align-items: center;
    text-align: center;

    color: #C5C5C5;
    background: #383F48;
    border: 2px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 10px !important;
}

button:hover {
    background: #4DB6BC;
    border: 1px solid #4DB6BC;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    color: #2B3138;
}
.tablecels {
    width:100%;
    height:100%;
    position:absolute;
    display: flex;
    justify-content: space-between;
}

.tablecels input{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    border: 1px solid #2E343D;
    background: #272D34;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #C5C5C5;
}

.treeview {
    margin-bottom:8px;
}



.treeview > .toggle:hover {
    color: #4DB6BC;
    fill:#4DB6BC;
}
.treeview > .toggle{
   opacity: 1;
}
h1 {
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 10px;
text-align:left;
    font-size: 6vh;
    color: #C5C5C5;
}
html, body, .app {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}

.modal_wrapper {
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(1px);
}

.modal_wrapper.open {
height: 100%;
    width: 100%;
    display: block;
}

.modal_wrapper.close {
    height: 0;
    display: none;
}

.modal_body {
    position:relative;
    top:30px;
    max-width: 600px;
    width: 600px;
    background: #272D34;
    margin-top: 5%;
    padding:20px;
    border-radius: 10px;
    max-height:100%;
    overflow-y: scroll;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #C5C5C5;
}
.modal_body button{
background: #383F48;
border: 1px solid #3E4751;
box-sizing: border-box;
}
.modal_body::-webkit-scrollbar {
    width:0;
    background: transparent;
}



.modal_close {
    text-align: right;
    margin-top: -15px;
    font-size:40px;
    color:gray;
}
.modal_body input{
    width: 70%;
    float: right;
    display: block;
    color: #C5C5C5;
    background: #2B3138;
    border: 1px solid #505A66;
}

.modal_body select
{
    width: 72%;
    float: right;
    display: block;
    float: right;
    color: #C5C5C5;
    background: #2B3138;
    border: 1px solid #505A66;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal_body td,tr,table{
    width: 100%;
}
.modal_body h2 {
    text-align: left;
    width: 100%;
    margin: 0;
}
.modal_body combobox {
    position: absolute;
    width: 122px;
    height: 34px;
    left: 1011px;
    top: 258px;

    background: #2B3138;
    border: 1px solid #505A66;
    box-sizing: border-box;
    border-radius: 10px;
    transform: rotate(180deg);
}
.switcher select {
    float: right;
    color: #C5C5C5;
    background: #2B3138;
    border: 1px solid #505A66;
    box-sizing: border-box;
    border-radius: 10px;
    width:50px;
    height:25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.switcher {
    float: right;
    color: #C5C5C5;
    background: #2B3138;
    width:100%;
    height:40px;
    border: 1px solid #505A66;
}



.middle
{
    height:100vh;
    width:80%;
}
 .treemiddle
 { resize:horizontal;
     overflow: auto;
     width:20%;
 padding-right: 3px;
     padding-left: 10px;
     height:94%;
     border: 1px solid #505A66;

 }

 .lower
 {
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
     display: flex;
     justify-content: space-between;
    bottom:30px;
     width:78%;
     position:fixed;

 }

 .tablemiddle
 {
	    color: #C5C5C5;
     width:82%;
     height:80%;
     position:absolute;
 }



 .truetable
 {
     position:absolute;
     height:95%;
     top:8%;
     overflow: auto;
     padding-left: 10px;
     width:100%;
 }

.trueheader
{
    position:absolute;
    top:0%;
    width:100%;
    height:5%;
    padding-left: 10px;
}

.supporttable
{

    padding-left: 10px;
}

.supportheader
{

    padding-left: 10px;
}

.Projectbody {
    margin-left: 10px;
    display: inline-block;
    top:0px;
    vertical-align: top;



}
.Projecttable
{
    display: inline-block;
    overflow: auto;
}

.Projectbody td{
    display: inline-block;

}

.Projectbody input{
    width: 55%;
}

.Projectbody button{
    margin-top: 10px;
}

.subbutton
{
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.subbutton button
{
    margin-left: 20px;
    width: 20%;
    display: inline-block;

}

.ReactVirtualized__List
{
	 background-color: #2B3138 !important;
	 color: #C5C5C5 !important;
	 background: #2B3138 !important;
}

.css-1mhygto
{
	color: #C5C5C5;
    background: #2B3138;
}
.css-g53ldg
{
	color: #C5C5C5 !important;
    background-color: #2B3138  !important;
}

 .treeatd,.treepro,.treecrop
 {
     
    color: #C5C5C5;
    background: #383F48;

 }
 .react-tabs
 {
	 width:100%;
 }
 
 .css-1mhygto:hover {
	  color: #4DB6BC;
    background-color: #383F48;
}
.css-1y1k9mm {
    height: 92% !important;
}